<div class="container">
    <div>
        <div class="header-title">
            <p>
               {{ ifdata.title }}
            </p>
        </div>
        <p class="dash-detail">
            {{ ifdata.body }}
        </p>
        <p class="dash-detail">
            Date:  {{ ifdata.date }}
        </p>
    </div> 
    <div class="btn-visit">
        <button mat-raised-button color="primary" (click)="editNote()">Edit</button>  
        <button 
            (click)="deleteNote()"
            mat-raised-button color="primary">
            Delete
        </button>  
        <button 
            mat-dialog-close
            mat-raised-button 
            color="primary">
            Close
        </button>  
          
    </div>
</div>
