<mat-toolbar>
    <div class="inputSearch">
       <input class="inheight" [(ngModel)]="datesearch" type="text">
    </div>
    <button  mat-raised-button color="primary" class="searchbuttn" (click)="searchByDate()">Search by date</button>
    <ul class="search-results" *ngIf="searchResults.length > 0 && datesearch.length!=0">
        <li *ngFor="let entity of searchResults">
            <app-search-result [note]="entity"></app-search-result> 
        </li>
    </ul>
   
    <div class="pr-sec">
        <div class="profile">
            <div (click)="logout()" class="pr-icon">
                <a href="#">Logout</a>
            </div>
            <!-- <div class="avatar" (mouseenter)="mouseEnter()" (mouseleave)="mouseLeave()">
                <mat-icon>account_circle</mat-icon>
                <div class="menu" *ngIf="menuVisible">
                    <div (click)="logout()" class="pr-icon">Logout</div>
                </div>
            </div> -->
        </div>
    </div>
</mat-toolbar>
  
<mat-sidenav-container class="landing-container">
    <mat-sidenav mode="side" class="sidebar" opened>
        <div class="sideContent">
            <div 
            (click)="backClicked()"
            class="sideButtns">
            Home
            </div>
            <div
            class="sideButtns"
             (click)="goToAll()">
                All notes
            </div>
            <div 
            (click)="goToCreate()"
            class="sideButtns">
                Add note
            </div>
        
        </div>
    </mat-sidenav> 
    <mat-sidenav-content class="main-container">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="footer-c">
    <p>@copy right</p>
</div>
  