<div class="container">
    <div class="message">
        <p>Welcome, here are your favorite and recent notes.</p>
        <mat-divider></mat-divider>
    </div>
    <div class="tagType">
        <h3>My Favorites</h3>
    </div>
    <mat-card [style.overflow]="'auto'" [style.height.px]="'270'">
        <div *ngIf="favoriteData.length != '0'">
            <mat-card-content>
                <div *ngFor="let note of favoriteData; let i = index;">
                    <app-note  (reloadParent)="load()"  [note]="note"></app-note>
                    <mat-divider></mat-divider>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="favoriteData.length == '0'">No data</div>
    </mat-card> 
    <div><br/><mat-divider></mat-divider></div>

    <div class="tagType"><h3>Recents</h3></div>

    <mat-card [style.overflow]="'auto'" [style.height.px]="'270'">
        <div *ngIf="recentNote.length != '0'">
            <mat-card-content>
                <div *ngFor="let note of recentNote; let i = index;">
                    <app-note  (reloadParent)="load()"  [note]="note"></app-note>
                    <mat-divider></mat-divider>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="recentNote.length == '0'">No data</div>
    </mat-card>
</div>  