<div class="container">
    <mat-card>
        <mat-card-content>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <h2>Sign up</h2>
            <mat-error *ngIf="!loginValid">
            The username and password were not recognized
            </mat-error>
            <mat-error *ngIf="passwordCheckfail">
                Wrong Confirm password 
            </mat-error>    
            <span *ngIf="successMessage.length != 0">{{ successMessage }}</span>
            <mat-form-field>
                <input matInput placeholder="User name" [(ngModel)]="username" name="username" required>
                <mat-error>
                    Please provide a valid user name
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Password" [(ngModel)]="password" name="password" required>
                <mat-error>
                    Please provide a valid password
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <input matInput type="password" placeholder="Confirm password" [(ngModel)]="cpassword" name="password" required>
                <mat-error>
                    Please confirm password
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!loginForm.form.valid">Register</button>
        </form>
        </mat-card-content>
        <br/>
        <div>
            <a routerLink="/">Log in</a>
        </div>
    </mat-card>
</div>